.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.header-logo {
    display: flex;
    padding: 5%;
    font-size: 24px;
}

.nav-links {
    display: flex;
    padding: 5%;
    list-style: none;
    flex-wrap: wrap;
    font-size: 18px;
}

.navbar a:link {
    color: #E5E7EB;
    text-decoration: none;
}

li {
    padding: 10px;
}

.placeholder-main {
    height: 150px;
    width: 33%;
}